#conteudo {
    background: url(resources/img/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#A1,
#A2,
#A3,
#acesso,
#acolhimento,
#acao {
    font-weight: bold;
    text-shadow: 1px 10px 10px black;
    color: white; 
}
#A1,
#A2,
#A3 {
    font-size: 3000%;
}
#acesso,
#acolhimento,
#acao {
    font-size: 400%;
}
#AcessoBackground,
#AcolhimentoBackground,
#AcaoBackground {
    opacity: 0.8;
}
#AcessoBackground {
    background-color: yellow;
}
#AcolhimentoBackground {
    background-color: blue;
}
#AcaoBackground {
    background-color: #91c20a;
}